.root {
    -fx-background-color: #111827;
    -fx-font-family: "Segoe UI";
}

/* All text */
.label {
    -fx-text-fill: white;
}

/* Main title */
.title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

/* Timer */
.timer {
    -fx-font-size: 64px;
    -fx-font-weight: bold;
}

/* Buttons */
.button {
    -fx-background-color: #374151;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-padding: 10px 18px;
}

.button:hover {
    -fx-background-color: #4b5563;
}

.mode-button {
    -fx-background-color: #1f2937;
}

.primary-button {
    -fx-background-color: #2563eb;
}

.primary-button:hover {
    -fx-background-color: #3b82f6;
}

/* Stats & Calendar */
.stats-root,
.calendar-root {
    -fx-background-color: #111827;
}

.calendar-date {
    -fx-background-color: #1f2937;
    -fx-background-radius: 6px;
}

.calendar-active {
    -fx-background-color: #22c55e;
    -fx-text-fill: #052e16;
    -fx-font-weight: bold;
}

.calendar-today {
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.calendar-active-today {
    -fx-background-color: #22c55e;
    -fx-text-fill: #052e16;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
}